html {
    background: url(https://img.freepik.com/free-vector/digital-binary-code-computer-matrix-data-falling-numbers-coding-typography-codes-stream-gray-background-illustration_102902-992.jpg?size=626&ext=jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.del, .ce, .plusMinus {
    background-color: rgb(51, 153, 255);
}

.operator, .equal {
    background-color: orange;
}

.num, .dec {
    background-color: white;
    color: black;
}

#container {
    margin-top: 50px;
    position: fixed;
    height: 475px;
    width: 325px;
    display: inline-grid;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
    grid-template-areas: 
    "display"
    "keypad";
}

#display {
    display: block;
    text-align: right;
    grid-area: display;
    background-color: white;
    font-size: 1.75em;
    border: 0.35em solid black;
    overflow: hidden;
    text-overflow: ellipsis;
}

#keypad {
    background-color: black;
    position: relative;
    display: grid;
    grid-area: keypad;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    border: 0.4em solid black
}

button {
    margin: 0.5em;
    border: 0.1em solid black;
    border-radius: 1em;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

button:focus {
    outline: none;
}

#equal {
    grid-column: 3 / 5;
    grid-row: 5 / 6;
}

#title {
    padding: 0.25em;
    background-color: white;
    border: 0.1em solid black;
    font-size: 2.5em;
    display: flex;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.isPressed {
    background-color: darkgrey;
}
